4
8

[4, 3, 2]

dict_items([('ram', {'maths': 75, 'science': 80, 'english': 78}), ('Mohan', {'maths': 45, 'science': 64, 'english': 23}), ('Rohan', {'maths': 23, 'science': 54, 'english': 56})])

name of stdent ram
maths 75
science 80
english 78
name of stdent Mohan
maths 45
science 64
english 23
name of stdent Rohan
maths 23
science 54
english 56

KeyError: 'deds'

enter the number:1
36 60
12

[(2, 4), (4, 16), (6, 36), (8, 64)]

['p', 'y', 't', 'h', 'o', 'n']

443

1

509

datetime.time(12, 30, 45)

datetime.datetime(2021, 5, 8, 17, 26, 45, 676603)

datetime.datetime(2021, 2, 7, 17, 39, 23, 385728)

# 1. We are having 3 list like this

Colors = [“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

  i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like its is a fruit or color or Animal

 ii. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print "They don't belong to same category

In [1]:
#1)

Colors = ["Yellow","Green","White","Black"]

Fruits=["Apple","Papaya","Mango","Orange"]

Animals=["Tiger","Lion","Deer","Zebra"]

In [3]:
x = input("Enter a color/Fruit /Animal = ")
if x in Colors:
    print("Colors")
elif x in Fruits:
    print("Fruits")  
elif x in Animals:
    print("Animals")
else:
    print("Not an valid input")

Enter a color/Fruit /Animal = Yellow
Colors

In [ ]:
#2)

In [10]:
m=input("enter the name")
n=input("enter the name")

if (m in Colors) and (n in Colors):
      print("Both are Colors!!")
elif (m in Fruits) and (n in Fruits):
      print("Both are Fruits!!")
elif (m in Animals) and (n in Animals):
    print("both are Animals")
else:
    print("not same")

enter the nameLion
enter the nameBlack
not same

# Q2. Write a python program that can tell you if your grade score good or not . Good Score range is 40 to 60.
i. Ask user to enter his score.
ii. If it is below 40 then print that score is low
iii. If it is above 60 then print that it is good otherwise print that it is normal

In [12]:
m = float(input("Enter your score " ))
if m < 40:
    
    print("Your score is LOW")
elif m > 60:
    print("Your score is GOOD")
else:
    print("Your score is NORMAL")

Enter your score 78
Your score is GOOD

# 3.  After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

Using for loop figure out how many times you got Pass

In [15]:
result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
count=0
for i in result:
    if i == 'Pass':
        count=count+1
print("i haved pass the exam {}".format(count))

i haved pass the exam 4

# 4.  Write a program that prints following shape

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [26]:
m=int(input("enter the number"))

for i in range(0,m):
    for j in range(0,i+1):
        print("*",end='')
    print()    
for i in range(m,0,-1):
    for j in range(0,i-1):
        print("*",end='')
    print()

enter the number12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

# Q5. Lets say you are running a 50 km race. Write a program that,
Upon completing each 10 km asks you "are you tired?"
If you reply "yes" then it should break and print "you didn't finish the race"
If you reply "no" then it should continue and ask "are you tired" on every 10 km
If you finish all 50 km then it should print congratulations message

In [27]:
Distance = 50
for i in range(1,Distance+1):
    if (i%10==0) and i!=50:
        x=input("Are you tired? Yes or No")
        if x=="Yes" or x=="yes":
            print("You didn't finish the race")
            break
        else:
            continue
    elif (i%10==0) and i==50:
        print("Congratulations, you finished race successfully ")

Are you tired? Yes or Nono
Are you tired? Yes or Noyes
You didn't finish the race

# Q6. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [28]:
print("Numbers within the 1500 and 2700, divisible by 7 and multiple of 5 are:")
for i in range (1499,2701):
    if i%7==0 and i%5==0:
        print(i)

Numbers within the 1500 and 2700, divisible by 7 and multiple of 5 are:
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# Print square of all numbers between 10 to 20 except even numbers

In [29]:
print("Squres of numbers between 10 and 20, except even numbers are:  ")
for i in range(10,20):
    if i%2==0:
        continue
    else:
        print(i*i)

Squres of numbers between 10 and 20, except even numbers are:
121
169
225
289
361

# Your Marks for five Test(test1 to test5) looks like this,¶
marks_list = [65, 75, 2100, 95, 83]
Write a program that asks you to enter marks and program should tell you in which test that marks occurred. If marks is not found then it should print that as well.

In [30]:
marks_list = [65, 75, 2100, 95, 83]
l=len(marks_list)
x=int(input("Enter your marks ==>"))
for i in marks_list:
    indx=marks_list.index(i)
    if i==x:
        print("You secured marks {} Test{}".format(x,indx+1))
    elif indx==l-1:
        print("We have not found any test with marks {}".format(x))

Enter your marks ==>65
You secured marks 65 Test1
We have not found any test with marks 65